mixin money(item)
    .itemMoney
        p.moneyicon= item.icon 
        h3.moneytitle= item.amount

doctype html 
html 
    head 
        link(rel="stylesheet" href="/styles/navbar.css")
        script(src="/scripts/index.js")

    body 
        .navbar
            .navbar-inner 
                .navbar-head 
                    .left-side 
                        h3.logo 63-IDUMI
                        each value,index in navbarMoney
                            +money(value)
                    .right-side    
                        .search 
                            img(src="/assets/icons/search.svg")
                        button.language 
                            img(src="/assets/icons/rusian.svg")
                            h3 РУ
                        button(onclick="toggleModal()").tgsubsc
                            img(src="/assets/icons/tg.svg")
                            p Подписатся
                .navbar-links 
                     each value,index in navbarLinks
                            a(href=`/${value[1]}`)=value[0]
                .navbar-add
                    img(src="/assets/images/banner.png")

                    
        .overlay(id="overlay")
            .modal(id="modal")
                p(onclick="toggleModal()").close x
                h3 Подписывайтесь на наш канал в Telegram и будьте всегда в курсе самых последних новостей:
                button(onclick="toggleModal()").tgsubsc
                    img(src="/assets/icons/tg.svg")
                    p Подписатся                