.covid-info {
  width: 1200px;
  height: 133px;
  margin: 22px auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #f6f6f9;
}
.covid-info .item {
  display: flex;
  padding: 0 30px 0 42px;
  gap: 25px;
}

.covid-info .item:nth-child(2) {
  height: 74px;
  align-items: center;
  border-left: 2px solid #eb5569;
  padding-right: 50px;
  h3 {
    color: #db0000;
  }
}
.covid-info .item:nth-child(3) {
  border-left: 2px solid #f4ccd1;
  border-right: 2px solid #f4ccd1;
  h3 {
    color: #05b135;
  }
}
.covid-info .item h3 {
  color: #000;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.covid-info .item p {
  color: #000;
  font-family: Rubik;
  font-size: 25px;
  font-weight: 500;
}
.wrapper_news {
  margin-top: 38px;
  h3 {
    color: #000;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
  }
  button {
    width: 211px;
    height: 42px;
    border-radius: 5px;
    background: #295093;
    color: #fff;
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    border: none;
    margin: 40px auto;
    display: block;
    cursor: pointer;
  }
}
.news_list {
  width: 800px;
  height: auto;
  .news_item {
    height: 145px;
    margin: 18px 0;
    display: flex;
    gap: 19px;
    .news_text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        color: #202020;
        font-family: Rubik;
        font-size: 17px;
        font-weight: 500;
      }
      p {
        color: #434343;
        font-family: Rubik;
        font-size: 15px;
        font-weight: 400;
      }
      .date {
        display: flex;
        align-items: center;
        p {
          color: #7688a4;
          font-family: Rubik;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

.popular_news {
  margin-top: 38px;
  width: 386px;
  height: 1000px;
  border-radius: 5px;
  background: #f6f6f9;
  padding: 16px 20px;
  h3 {
    color: #000;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
  }
  img {
    width: 386px;
    margin-left: -20px;
  }
  .news_items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 6px;
    .news_item {
      height: 110px;
      border-bottom: 3px solid #e4e4e4;
      &:last-child {
        border: none;
      }
      .text {
        width: 347px;
        color: #202020;
        font-family: Rubik;
        font-size: 17px;
        font-weight: 400;
      }
      .date {
        color: #7688a4;
        font-family: Rubik;
        font-size: 14px;
        font-weight: 400;
        margin-top: 11px;
      }
    }
  }
}
