.navbar {
  width: 100%;
  height: 332px;
  background: #f6f6f9;
}

.navbar-inner {
  width: 1200px;
  margin: 0 auto;
}
.navbar-head {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side,
.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(202, 202, 202, 0.25);
  color: #295091;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 700;
}

.itemMoney {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
  color: #285193;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 300;
}

.itemMoney .moneytitle {
  color: #7a7a7a;
  font-weight: 300;
}

.search {
  width: 38.095px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  width: 64.762px;
  height: 40px;
  border-radius: 5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #535353;
  font-family: Roboto;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.tgsubsc {
  width: 146px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  gap: 5px;
  border: none;
  cursor: pointer;
}
.navbar-links {
  width: 100%;
  height: 68px;
  display: flex;
  padding: 21px 24px;
  gap: 25px;
  background-color: #fff;
  fill: #fff;
  filter: drop-shadow(0px 2px 5px rgba(159, 159, 159, 0.19));
}
.navbar-links a {
  color: #515151;
  font-family: Rubik;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #295091;
  }
}
.navbar-add {
  margin-top: 15px;
}
